body {
    animation: colorchange 20s infinite;
    -webkit-animation: colorchange 20s infinite;
    background-size: cover;
    font-family: 'Baloo Bhaina', cursive;
}

@keyframes colorchange {
    0% {
        background: #00FF7F;
    }
    20% {
        background: #87CEEB;
    }
    40% {
        background: #DDA0DD;
    }
    60% {
        background: #FFA07A;
    }
    80% {
        background: #DC143C;
    }
    100% {
        background: #00FF7F;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #00FF7F;
    }
    20% {
        background: #87CEEB;
    }
    40% {
        background: #DDA0DD;
    }
    60% {
        background: #FFA07A;
    }
    80% {
        background: #DC143C;
    }
    100% {
        background: #00FF7F;
    }
}

.gamer {
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    border-radius: 20px;
    height: 190%;
    width: 60%;
    box-shadow: 10px 10px 15px black;
}

div {
    background-size: cover;
    margin: 40px 0 0 0;
}

.topic {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}

.topic:hover {
    text-shadow: 2px 1px black;
    color: red;
    transform: scale(1.25) rotate(-5deg);
    cursor: pointer;
}

p {
    text-align: center;
    border: 1px solid black;
    border-width: 2px;
    border-radius: 20px;
    max-width: 700px;
    font-size: 20px;
    color: white;
    background-color: black;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
}

input {
    font-size: 20px;
    border: 2px solid white;
    border-radius: 15px;
    display: inline-block;
    top: 10em;
    outline: none;
}

#new-post-title {
    margin-left: 4%;
    transition: all 1s ease-out;
    width: 15%;
}

#new-post-title:focus {
    transition: all 1s ease-out;
    width: 25%;
}

#new-post-message {
    margin-left: 5%;
    height: 22px;
    transition: all 1s ease-out;
    width: 20%;
}

#new-post-message:focus {
    border: 2px solid #555;
    transition: all 1s ease-out;
    width: 35%;
    height: 200px;
}

button.submit {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    box-shadow: 3px 6px 6px grey;
    border: 2px solid #09C;
    margin-top: 3%;
    font-size: 20px;
    border-radius: 15px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2));
    color: white;
    width: 30%;
}

button.submit:hover {
    border: 2px solid blue;
    background-color: red;
    box-shadow: 3px 6px 6px grey;
}

.response {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    box-shadow: 3px 6px 6px grey;
    border: 2px solid #09C;
    margin-top: 3%;
    font-size: 20px;
    border-radius: 15px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2));
    color: white;
    width: 30%;
}

button.response:hover {
    border: 2px solid blue;
    background-color: red;
    box-shadow: 3px 6px 6px grey;
}

/*#wall {
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2));
      z-index:-2;
}
*/
#home {
    color: white;
    text-shadow: 2px 2px black;
}

#home:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#your-profile {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    border-radius: 4px;
    font-size: 20px;
    border: 2px solid darkblue;
    background-color: blue;
    margin-left: 10px;
    color: white;
    display: block;
    margin-top: 1px;
    margin-right:100px;
    position: absolute;
    top: 25px;
    right: 25px;
    text-align: center;
    box-shadow: 3px 6px 6px grey;
}

#your-profile:hover {
    border: 2px solid blue;
    background-color: darkblue;
    box-shadow: 3px 6px 6px grey;
}

#your-profile:active {
    box-shadow: 3px 6px 6px grey;
    transform: translateY(4px);
}

#sign-in-button {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    border-radius: 4px;
    font-size: 20px;
    border: 2px solid darkgreen;
    background-color: green;
    margin-left: 10px;
    color: white;
    display: block;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 25px;
    right: 25px;
    text-align: center;
    box-shadow: 3px 6px 6px grey;
}

#sign-in-button:hover {
    border: 2px solid green;
    background-color: darkgreen;
    box-shadow: 3px 6px 6px grey;
}

#sign-in-button:active {
    box-shadow: 3px 6px 6px grey;
    transform: translateY(4px);
}

#sign-out-button {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    border-radius: 4px;
    font-size: 20px;
    border: 2px solid darkred;
    background-color: red;
    margin-left: 10px;
    color: white;
    display: block;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 25px;
    right: 25px;
    text-align: center;
    box-shadow: 3px 6px 6px grey;
}

#sign-out-button:hover {
    border: 2px solid red;
    background-color: darkred;
    box-shadow: 3px 6px 6px grey;
}

#sign-out-button:active {
    box-shadow: 3px 6px 6px grey;
    transform: translateY(4px);
}

#mainpost {
    margin-bottom: 105px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

.title {
    margin-right: 30%;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.text {
    top: -30px;
    position: static;
    clear: left;
    margin-top: -2px;
}

.author {
    padding: 0px 0px 0px 0px;
    text-align:center;
}

.authorPic {
    width: 25%;
    border-radius: 50px;
    border: 1px solid grey;
    box-shadow: 5px 5px 10px black;
}

.authorPic:hover {

    transform: scale(1.25) rotate(-5deg);
}

.post {
    display: table-row;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 0px 0px 0px 0px;
    margin: 255px 25px 25px 25px;
    background-color: black;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
    font-size: 20px;
}

.author-info {
    display: table-cell;
    width: 25%;
    border: 1px solid grey;
    box-shadow: 10px 10px 10px black;
    padding: 25px 0px 0px 20px;
}

.author-info ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    position: relative;
}

.author-info ul li {
    float: left;
    font-size: 20px;
}

.author-post {
    text-align: left;
    display: table-cell;
    width: 75%;
    padding: 0px 0px 100px 100px;
    margin:0px 0px 0px 0px;
}
