body {
    animation: colorchange 20s infinite;
    -webkit-animation: colorchange 20s infinite;
    background-size: cover;
    font-family: 'Baloo Bhaina', cursive;
}

@keyframes colorchange {
    0% {
        background: #00FF7F;
    }
    20% {
        background: #87CEEB;
    }
    40% {
        background: #DDA0DD;
    }
    60% {
        background: #FFA07A;
    }
    80% {
        background: #DC143C;
    }
    100% {
        background: #00FF7F;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #00FF7F;
    }
    20% {
        background: #87CEEB;
    }
    40% {
        background: #DDA0DD;
    }
    60% {
        background: #FFA07A;
    }
    80% {
        background: #DC143C;
    }
    100% {
        background: #00FF7F;
    }
}

.gamer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    border-radius: 20px;
    height: 190%;
    width: 60%;
    box-shadow: 10px 10px 15px black;
}

div {
    background-size: cover;
    margin: 40px 0 0 0;
}

.topic {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}

.topic:hover {
    text-shadow: 2px 1px black;
    color: red;
    transform: scale(1.25) rotate(-5deg);
    cursor: pointer;
}

p {
    text-align: center;
    border: 1px solid black;
    border-width: 2px;
    border-radius: 20px;
    max-width: 700px;
    font-size: 20px;
    color: white;
    background-color: black;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
}

input {
    font-size: 20px;
    border: 2px solid white;
    border-radius: 15px;
    display: inline-block;
    top: 10em;
}

input[type=textarea] {
    transition: width 1s ease-in-out;
    width: 20%;
}

input[type=textarea]:focus {
    border: 2px solid #555;
    transition: 1s;
    width: 40%;
    outline: none;
}

#wall {
    color: white;
}

#home {
    color: white;
    text-shadow: 2px 2px black;
}

#home:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#sign-in-button {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    border-radius: 4px;
    font-size: 25px;
    border: 2px solid darkgreen;
    background-color: green;
    margin-left: 10px;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 6px #999;
}

#sign-in-button:hover {
    border: 2px solid green;
    background-color: darkgreen;
    box-shadow: 0 6px #999;
}

#sign-in-button:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

#sign-out-button {
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 2px 2px black;
    border-radius: 4px;
    font-size: 20px;
    border: 2px solid darkred;
    background-color: red;
    margin-left: 10px;
    color: white;
    display: block;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 25px;
    right: 25px;
    text-align: center;
    box-shadow: 0 6px #999;
}

#sign-out-button:hover {
    border: 2px solid red;
    background-color: darkred;
    box-shadow: 0 6px #999;
}

#sign-out-button:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

#mainpost {
    color: white;
    text-shadow: 2px 2px black;
}

.authorPic {
    height: 75px;
    width: 75px;
    border-radius: 50px;
}

.post {
    border: 2px solid grey;
    border-radius: 4px;
    padding:0px 25px 2px 25px;
    margin:0px 0px 10px 0px;
    background-color: black;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
    font-size: 20px;
}

.author-info ul {
    padding:0;
    margin:0;
    overflow: hidden;
    list-style-type: none;
    position: relative;
}
.author-info ul li{
    padding:0px;
   display: inline;
   float: left;
   font-size:25px;
}